
.header {
    display: block;
    overflow: hidden;
}
.main {
    height: 48px;
    background-color: black;
    padding-top: 0;
    display: flex;
    color: white;

}
.inner {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}
.mainmenu {
    flex: 1;
}
.name {
    position: relative;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin-top: 3px;
    background-color: black;
    color:white;
    user-select: none;
}
.name:hover {
    background-color: white;
    color: black;
}
.namespacer {
    display: inline-block;
    vertical-align: top;
    width: 1px;
    margin: 12px 3px;
    background-color:hsla(0,0%,100%,.25);
    padding-top: 23px;
}
.label{
    position: relative;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-family: 'AdineuePRO',Helvetica,Arial,sans-serif;
    font-weight: 400px;
    font-size: 15px;
    margin: 0 3px;

}
div {
    display: block;
}
.headertop {
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 11px;
    display: block;
    background: linear-gradient(90deg,#000 30%,transparent 50%),linear-gradient(180deg,#000 0,#363738);
}
.headerinner {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 32px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.customerinfo {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #c8cbcc;
}
.newsletter {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Adihausbold';
    color: #f1f1f1;
}
.newsletter:hover{
    background: white;
    color: black;
}
.spacer {
    height: 12px;
    width: 1px;
    position: relative;
    top: -1px;
    background-color: #767677;
}
em {
    font-weight: 700;
    display: inline-block;
    color: white;
}
em .a {
    color: #fff;
}
.loginspacer {
    display: none;
}
.logo {
    width: 70px;
    height: 70px;
    top: -26px;
    position: relative;
    transition-timing-function: cubic-bezier(.3,0,45,1);
    margin-right: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('https://s3-us-west-1.amazonaws.com/adidasnavigationbar/adidasLogo.jpg');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    transform-origin: 0 25px;
    transition: width .45s,transform .45s cubic-bezier(0,.7,.6,1);
}
.active {
    width: 50px;
    height: 70px;
    top: -11px;
    position: relative;
    transition-timing-function: cubic-bezier(.3,0,45,1);
    margin-right: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('https://s3-us-west-1.amazonaws.com/adidasnavigationbar/adidasLogo.jpg');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    transform-origin: 0 25px;
    transition: width .45s,transform .45s cubic-bezier(0,.7,.6,1);
}
.only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.searchMain {
    position:relative;
  }
  .searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    margin-top: 4px;
  }
  .activeSearchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 40px;
    margin-top: 4px;
  }
  .searchIcon {
    display: flex;
    justify-content: center;
    align-items:center;
    color:black;
    background-color:white;
    width: 30px;
    height: 32px;
    
  }
  .formSearch {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .inputSearch {
    width: 100%;
    border: 0;
    outline: none;
    padding: 0;
    background-color: white;
    height: 32px;
    font-size: 14px;
  }
  .inputCross {
    display: flex;
    justify-content: center;
    align-items:center;
    color:black;
    background-color:white;
    font-size:23px;
    width: 30px;
    height: 32px;
    cursor: pointer;
  }
  .deneme {
      background-color: red;
      border: 1px solid white;
      width: 100px;
      height: 40px;
  }
  .freeShippingReturn{
      margin-top: 50px;
  }
  .loginSvg {
      margin-left: 5px;
  }
  .shopMain {
    width: 48px;
    height: 48px;
    display: block;
  }
  .shoppingCartMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 2px;
    color: white;
    background-color: black;
  }
  
  .shoppingCartMain:hover {
    color: black;
    background-color: white;
  }
  .shoppingCartSvg {
    width: 24px;
    height: 24px;
  }
  .emptyBagMain {
    position: absolute;
    right: 14px;
    top: 10%;
    
  }
  .emptyBag {
    position: absolute;
    top: 100%;
    font-size: 20px;
    font-weight: 600; 
    width: 310px;
    padding: 17px 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 12px 24px rgba(0,0,0,.1);
  }
  .delete {
      position: absolute;
      top:120px;
  }
/* @font-face {
    font-family: 'AdineuePRO';
    src: url('../assets/AdineuePRO-Regular.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Adineuebold';
    src: url('../assets/AdineuePRO-Bold.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'AdihausDIN';
    src: url('../assets/AdihausDIN-Regular.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Adihausbold';
    src: url('../assets/AdihausDIN-Bold.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
  } */
  
 
