
.searchMainDropDown {
    font-family: 'AdihausDIN',Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 880px;
    width: 627px;
    height: 459px;
    box-shadow: 0 12px 24px rgba(0,0,0,.1);
    padding: 20px 30px;
    background-color: white;
  }
  .searchRow {
    display: flex; 
  }
  .searchColumn1 {
    display:flex;
    flex-direction: column;
    width: 50%;
  }
  .suggestions {
    padding-bottom: 30px;
    list-style-type: none;
    padding: 0;
  }
  .headingLabel {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 14px;
      margin: 0 0 10px;
      text-transform: uppercase;
      font-weight: bold;
  }
  .suggestionLabel {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 14px;
      margin: 0 0 10px;
      text-transform: uppercase;
      cursor: pointer;
  }
  .labelSpan {
    margin-left: 5px;
  }
  .seeAll {
    cursor: pointer;
    margin-top: auto;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .searchColumn2 {
    display:flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }
  .products {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .productHeadingLabel {
    font-size: 16px;
      line-height: 20px;
      margin-bottom: 14px;
      margin: 0 0 10px;
      text-transform: uppercase;
      font-weight: bold;
  }
  .productDescription {
    
    display: flex;
    cursor: pointer;
    margin-bottom: 8px
  }
  .productProperty {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 14px;
  }
  .spanProperty {
    text-transform: capitalize;
    color: #767677;
    margin-left: 10px;
  }
  .spanPropertyName {
    color: #000000;
    margin-left: 10px;
  }
  .strong {
    font-family: Arial, Helvetica, sans-serif;
  }
  .stars {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #E2E0E0;
    overflow: hidden;
   }
   .fullStars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #B9B3B3;
   }
   
   .emptyStars:before, .fullStars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 10px;
   }
    .emptyStars:before {
    -webkit-text-stroke: 1px black;
   }
   .fullStars:before {
    -webkit-text-stroke: 1px black;
   } 
   /* @font-face {
    font-family: 'AdineuePRO';
    src: url('../assets/AdineuePRO-Regular.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Adineuebold';
    src: url('../assets/AdineuePRO-Bold.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'AdihausDIN';
    src: url('../assets/AdihausDIN-Regular.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Adihausbold';
    src: url('../assets/AdihausDIN-Bold.woff2') format('truetype');
    font-style: normal;
    font-weight: normal;
  } */